[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"   # Test runner
expects = "*"  # Allows from readable tests, expect(something).to(have(some_property))
faker = "*"  # Allows for easier test by generating fake data.
ipdb = "*"  # better debugger than pdb. import ipdb;ipdb.set_trace()

[packages]
flask = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
flask-login = "==0.4.1"
flask-cors = "*"

[requires]
python_version = "3.6"
