[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
flask-login = "*"
flask-cors = "*"

[requires]
python_version = "3.6"
