{% extends "layout.html" %}

{% block style %}

<!-- 1280 x 720 !-->

 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stormy.css') }}">

{% endblock %}

{% block content %}

<div class="page">
    <div name="" class="nav-bar">
        <h3>Overview</h3>

        <table>
            <tr><td><a href="{{ url_for('county_home') }}">County</a></td></tr>
            <tr><td><a href="#"><strike>Kingdom</strike></a></td></tr>
        </table>

        <h3>Advisors</h3>

        <table>
            <tr><td><a href="{{ url_for('county_economy') }}">Economics</a></td></tr>
            <tr><td><a href="{{ url_for('county_infrastructure') }}">City Planner</a></td></tr>
            <tr><td><a href="#"><strike>War</strike></a></td></tr>
            <tr><td><a href="#"><strike>Thieves Guild</strike></a></td></tr>
            <tr><td><a href="#"><strike>Wizard Council</strike></a></td></tr>
            <tr><td><a href="#"><strike>Scientist</strike></a></td></tr>
        </table>

        <h3>Diplomacy</h3>

        <table>
            <tr><td><a href="#"><strike>Town Hall</strike></a></td></tr>
            <tr><td><a href="#"><strike>Messages</strike></a></td></tr>
            <tr><td><a href="#"><strike>Trade</strike></a></td></tr>
            <tr><td><a href="#"><strike>Allegiances</strike></a></td></tr>
        </table>

        <h3>About the Game</h3>

        <table>
            <tr><td><a href="#"><strike>Achievements</strike></a></td></tr>
            <tr><td><a href="#"><strike>Leaderboard</strike></a></td></tr>
            <tr><td><a href="#"><strike>Player Guide</strike></a></td></tr>
            <tr><td><a href="#"><strike>Forums</strike></a></td></tr>
            <tr><td><a href="#"><strike>Credits</strike></a></td></tr>
        </table>
    </div>

    <div class="content flex-container">
        <div style="margin: 5px; min-width: 600; order: 0; padding: 5px 5px 5px 5px; border: 3px solid rgba(139, 18, 59, 1);">
            <p>{{ county.name }} ({{ county.id }}), led by {{ county.title }} {{ county.leader }} [{{ county.economy._population }} people, {{ county.economy._land }} acres]</p>
        </div>

        <div class="flex-container-2" style="order: 1">
            <div class="data-block" style="order: 0;">
                <p>DATA 1</p>
                <table class="people">
                    <tr>
                        <th>Population</th>
                        <th>Happiness</th>
                        <th>Healthiness</th>
                    </tr>
                    <tr>
                        <td><img src="/static/images/person.jpeg" width="100" height="100" alt="person_icon"></img></td>
                        <td><img src="/static/images/smiley.jpeg" width="100" height="100" alt="smile_icon"></img></td>
                        <td><img src="/static/images/heart.jpeg" width="100" height="100" alt="heart_icon"></img></td>
                    </tr>
                    <tr>
                        <td class="value-cell">{{ county.economy._population }}</td>
                        <td class="value-cell">{{ county.economy._happiness }}%</td>
                        <td class="value-cell">{{ county.economy._healthiness }}%</td>
                    </tr>
                </table>
            </div>
            
            <div class="data-block" style="order: 1;">
                <p>DATA 2</p>
                <h3>Mana: {{ county.economy._mana }}</h3>
            </div>
        </div>

        <div style="margin: 5px; min-width: 600; order: 2; padding: 5px 5px 5px 5px; border: 3px solid rgba(139, 18, 59, 1);">
            <table class="odd">
                <tr>
                    <th style="width:50px;">Topic</th>
                    <th style="width:50px;">Current</th>
                    <th style="width:75px;">Projected Change</th>
                    <th style="width:200px;">Modifiers</th>
                    <th style="width:180px;">Projected Growth</th>
                    <th style="width:180px;">Projected Losses</th>
                    <th style="width:225px;">Notes</th>
                </tr>
                <tr>
                    <td>Population</td>
                    <td>{{ county.economy._population }}</td>
                    <td>Change?</td>
                    <td>Modifiers?</td>
                    <td>
                        <ul>
                            <li>Births: </li>
                            <li>Immigration: </li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Deaths: ?</li>
                            <li>Emigration: ?</li>
                        </ul>
                    </td>
                    <td>Your basic birth rate is based on your total land.
                        Happiness, tax rate, and health will affect population growth.</td>
                </tr>
                <tr>
                    <td>Gold</td>
                    <td>{{ county.economy._gold }}</td>
                    <td>Change?</td>
                    <td>Modifiers?</td>
                    <td>
                        <ul>
                            {% if county.production_choice == "Overwork" %}
                            <li>Overworking: Should have some benefit...</li>
                            {% endif %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Military Expenses: ?</li>
                        </ul>
                    </td>
                    <!-- These conditions must not occur together or it will break the table. -->
                    {% if county.preference._tax_rate < 7 %}<td class="green">Your current tax rate has a positive effect on happiness.</td>
                    {% elif county.preference._tax_rate == 7 %}<td>Your current tax rate has no effect on happiness.</td>
                    {% else %}<td class="red">Your current tax rate has a negative effect on happiness.</td>{% endif %}
                </tr>
                <tr>
                    <td>Food</td>
                    <td>{{ county.economy.grain_stores }}</td>
                    <td>Change?</td>
                    <td>
                        <ul>
                            <li>Rations: {{ county.rations }}</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Fields: + grain production?</li>
                            <li>Pastures: + dairy production?</li>
                            {% if county.production_choice == "Foraging" %}
                            <li>Foraging: + some bonus???</li>
                            {% endif %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>To be Eaten: ???</li>
                        </ul>
                    </td>
                    <td>Excess dairy can not be stored in your granaries. If you do not have enough food, your populace will
                        begin to starve.
                    </td>
                </tr>
                <tr>
                    <td>Lumber</td>
                    <td>{{ county.economy._wood }}</td>
                    <td></td>
                    <td>-</td>
                    <td>?</td>
                    <td>-</td>
                    <td>Lumber is used to build buildings and to equip certain soldiers.</td>
                </tr>
                <tr>
                    <td>Iron</td>
                    <td>{{ county.economy._iron }}</td>
                    <td></td>
                    <td>-</td>
                    <td>?</td>
                    <td>-</td>
                    <td>Iron is used to equip powerful soldiers.</td>
                </tr>
                <tr>
                    <td>Stone</td>
                    <td>{{ county.economy._stone }}</td>
                    <td></td>
                    <td>-</td>
                    <td>?</td>
                    <td>-</td>
                    <td>Stone stone.</td>
                </tr>
                <tr>
                    <td>Mana</td>
                    <td>{{ county.economy._mana }} / {{ county.economy.max_mana }}</td>
                    <td>+{{ county.mana_change }}</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Mana is used to cast spells as well as dispel enemy magic. You can raise your maximum mana
                    by researching arcane lore.</td>
                </tr>
                <tr>
                    <td>Happiness</td>
                    <td>{{ county.economy._happiness }}%</td>
                    <td>{{ county.economy.happiness_change }}</td>
                    <td>-</td>
                    <td></td>
                    <td></td>
                    <td>Happiness affects your birth rate. If they become too unhappy, they may start to question your rule.
                    </td>
                </tr>
                <tr>
                    <td>Healthiness</td>
                    <td>{{ county.economy._healthiness }}%</td>
                    <td></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>Healthiness affects your death rate. As they become more unhealthy, they die and get sick much more easily.
                        Your healthiness decreases by 1% for every 200 unfed people each day.
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}
