{% extends "layout.html" %}
{% block content %}

<h1>The County object is {{ county }}</h1>
<h1>The User object is {{ user }}</h1>
<br>


<div id="content">
  <h1>{{ county.name }}</h1>
  <div id="maxWidthContainer">
    <h2>Basic Info</h2>
    <ul>
      <li>Leader: {{ county.title }} {{ county.leader }}</li>
      <li>Race: {{ county.race }}</li>
      <li>Background: {{ county.background }}</li>
      <li>Population: {{county.population }}</li>
      <li>Land: {{ county.land }} acres</li>
    </ul>
    <br><br>
  </div>
</div>

<h1>Image Example</h1>
<img src="/static/images/example_image.jpeg" />

<h1>Looking at all possible county properties:</h1>
<ul>
  {% for attribute in county.__dict__ %}
  <li>{{ attribute }}</li>
  {% endfor %}
</ul>

<h1>Looking at all possible user properties:</h1>
<ul>
  {% for attribute in user.__dict__ %}
  <li>{{ attribute }}</li>
  {% endfor %}
</ul>

<a href="{{ url_for('county_economy') }}" style="font-size:100px">Economy</a>


{% endblock %}
