{% extends "layout.html" %}

{% block style %}

<!-- 1280 x 720 !-->

<style>
body {
    background-color: rgba(220, 186, 96, 1.0);
}

div.nav-bar {
    flex-basis: 400;
    flex-shrink: 0;

    margin: 20px;
    padding: 10px 10px 10px 10px;
    border: 3px solid rgba(139, 18, 59, 1);
    border-radius: 5px;

    background-color: rgba(251, 246, 224, 1);
}

a {
    font-size: large;
}

div.content {
    max-width: 800;
    margin: 20px;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: rgba(139, 18, 59, 1);
    background-color: rgba(251, 246, 224, 1);
}

div.data-block {
    flex-basis: 600px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 5px;
    padding: 10px;
    border: 3px solid rgba(139, 18, 59, 1);
}

a:link, visited, hover, active {
  text-decoration: none;
  color: rgba(4, 56, 93, 1);
}

a:visited {
    text-decoration: none;
    color: rgba(4, 56, 93, 1);
}

a:hover {
    text-decoration: none;
    color: rgba(4, 56, 93, 1);
}

a:active {
    text-decoration: none;
    color: rgba(4, 56, 93, 1);
}

.page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.page table {
    margin: 5px;
}

.flex-container {
  display: flex;
  flex-direction: column
}

.flex-container-2 {
    display: flex;
    flex-direction: row;
}

h3 {
    font-size: medium;
    font-weight: bold;
    text-align: left;
}

</style>

{% endblock %}

{% block content %}

<div class="page">
    <div name="" class="nav-bar">
        <h3>Overview</h3>

        <table>
            <tr><td><a href="#">County</a></td></tr>
            <tr><td><a href="#"><strike>Kingdom</strike></a></td></tr>
        </table>

        <h3>Advisors</h3>

        <table>
            <tr><td><a href="{{ url_for('county_economy') }}">Economics</a></td></tr>
            <tr><td><a href="{{ url_for('county_infrastructure') }}">City Planner</a></td></tr>
            <tr><td><a href="#"><strike>War</strike></a></td></tr>
            <tr><td><a href="#"><strike>Thieves Guild</strike></a></td></tr>
            <tr><td><a href="#"><strike>Wizard Council</strike></a></td></tr>
            <tr><td><a href="#"><strike>Scientist</strike></a></td></tr>
        </table>

        <h3>Diplomacy</h3>

        <table>
            <tr><td><a href="#"><strike>Town Hall</strike></a></td></tr>
            <tr><td><a href="#"><strike>Messages</strike></a></td></tr>
            <tr><td><a href="#"><strike>Trade</strike></a></td></tr>
            <tr><td><a href="#"><strike>Allegiances</strike></a></td></tr>
        </table>

        <h3>About the Game</h3>

        <table>
            <tr><td><a href="#"><strike>Achievements</strike></a></td></tr>
            <tr><td><a href="#"><strike>Leaderboard</strike></a></td></tr>
            <tr><td><a href="#"><strike>Player Guide</strike></a></td></tr>
            <tr><td><a href="#"><strike>Forums</strike></a></td></tr>
            <tr><td><a href="#"><strike>Credits</strike></a></td></tr>
        </table>
    </div>

    <div class="content flex-container">
        <div class="flex-container-2" style="margin: 5px; min-width: 600; order: 1; padding: 5px 5px 5px 5px; border: 3px solid rgba(139, 18, 59, 1);">
            <div style="flex-basis: 200; order: 0;">
                <img src="/static/images/example_image.jpeg" />
            </div>

            <div style="flex-basis: 400; order: 1;">
                <table>
                    <tr>
                        <p style="font-size:100px">{{ county.name }}</p>
                    </tr>
                    <tr>
                        <td>Leader:</td>
                        <td>{{ county.title }} {{ county.leader }}</td>
                    </tr>
                    <tr>
                        <td>Race:</td>
                        <td>{{ county.race }}</td>
                    </tr>
                    <tr>
                        <td>Background:</td>
                        <td>{{ county.background }}</td>
                    </tr>
                    <tr>
                        <td>Population: </td>
                        <td>{{ county.economy._population }} people</td>
                    </tr>
                    <tr>
                        <td>Land:</td>
                        <td>{{ county.economy._land }} acres</td>
                    </tr>
                </table>
            </div>

            <!--
            <ul>
                <li>Leader: {{ county.title }} {{ county.leader }}</li>
                <li>Race: {{ county.race }}</li>
                <li>Background: {{ county.background }}</li>
                <li>Population: {{ county.population }}</li>
                <li>Land: {{ county.land }} acres</li>
            </ul>
            !-->
        </div>
        <div style="margin: 5px; min-width: 600; order: 2; padding: 5px 5px 5px 5px; border: 3px solid rgba(139, 18, 59, 1);">
            <p>Your subjects are {% if county.economy._happiness >= 100 %}Very Happy!{% endif %}</p>
            <br />
            <p> You currently have the following resources:<br />{{ county.economy._wood }} Wood, {{ county.economy._stone }} Stone, {{ county.economy._iron }} Iron, and {{ county.economy._gold }} Gold.</p>
        </div>
        <div style="margin: 5px; min-width: 600; order: 3; padding: 5px 5px 5px 5px; border: 3px solid rgba(139, 18, 59, 1);">
            <p>{{ county.title }} {{ county.leader }} rules this land wisely, perhaps because his {{ county.background }}ly education. Within his {{ county.land }} acres he has {{ county.population }} loyal subjects.</p>
        </div>
        <div class="flex-container-2" style="order: 4">
            <div class="data-block" style="order: 0;">
                <p>DATA 1</p>
                <br />
                <h1>Looking at all possible generic county properties:</h1>

                <ul>
                    {% for attribute in county.__dict__ %}
                    <li>{{ attribute }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="data-block" style="order: 1;">
                <p>DATA 2</p>
                <br />
                <h1>Looking at all possible economy properties:</h1>

                <ul>
                    {% for attribute in county.economy.__dict__ %}
                    <li>{{ attribute }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
